version: "2"
services:
  web:
    image: nginx:latest
    container_name: vouchers
    ports:
      - "8080:80"
    volumes:
      - ../:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    links:
      - php
  #    - mysql

  php:
    build: .
    volumes:
      - ../:/var/www
    links:
      - selenium-hub

  selenium-hub:
    image: selenium/standalone-chrome:3.0.1-fermium
    container_name: selenium-hub
    ports:
      - "4444:4444"

#mysql:
#  image: mysql:5.7
#  restart: always
#  environment:
#    MYSQL_DATABASE: 'vouchers'
#    MYSQL_USER: 'root'
#    MYSQL_PASSWORD: 'root'
#    MYSQL_ROOT_PASSWORD: 'root'
#  ports:
#    - '3306:3306'
#  expose:
#    - '3306'
#  volumes:
#    - my-db:/var/lib/mysql